@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme{
    --color-primary: #2563EB;
    --color-secondary: #FBBF24;
}
*{
    font-family: Outfit;
}

.font-playfair{
    font-family: Playfair !important;
}
/* Clerk Styling */
.cl-internal-y44tp9{
    display: none;
}
.cl-internal-1fpq5at {
   display: none;
}
/* Testimonials Slider */
@keyframes marqueeScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-inner {
    animation: marqueeScroll 20s linear infinite;
}

/* Optional: Pause on hover so guests can actually read the reviews */
.marquee-inner:hover {
    animation-play-state: paused;
}
